header {
    background-color: #A51010;
}
 
.title {
   text-align: center;
   color: aliceblue;
   background-color: #A51010;
}

.texto { 
    text-align: center;
    color: aliceblue;
    background-color: #A51010;
}

.news{
    background-image: linear-gradient(#A51010,#000000);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
